body {
    margin-left: auto;
    margin-right: auto;
    font: 16px/2 NotoSansHans-Light,AvenirNext-Regular,"proxima-nova","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Helvetica Neue",Arial,sans-serif
}
